@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

 .omb_socialButtons a {
	color: white; // In yourUse @body-bg 
	opacity:0.9;
}
.omb_socialButtons a:hover {
    color: white;
	opacity:1;    	
}
 .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_socialButtons .omb_btn-twitter {background: #00aced;}
 .omb_socialButtons .omb_btn-google {background: #c32f10;}


 .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.err{
	color:red;
	margin:10px;
}