<div class=" userDeatils">

  <div class="container">
    <div class="user-img col-md-3">
      <img class="product-img img-circle" [src]="user.userDeatiles?.imageUrl">

    </div>
    <div class="col-md-9 txt">

      <div class="col-md-3">
        <span class="user-name">
        {{user?.userDeatiles?.firstName}} {{user?.userDeatiles?.lastName}}
      </span>
      </div>

      <div class="col-md-3">
        <div class="part user-followrs">
          <span>Followrs</span>
          <span class="fashcolors">
                {{user.countFollowers}}
          </span>
        </div>
         <div class="part user-count-items">
          <span>Items</span>
          <span class="fashcolors">
             {{user.countItems || 0}}
         </span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="part user-following">
          <span>Following</span>
          <span class="fashcolors">
             {{user.countFollowing}}
         </span>
        </div>
        <div class="part user-items-spent">
          <span>spent</span>
          <span class="fashcolors">
        {{(+user.moneySpent/100) | currency:'USD':true}}
      </span>
        </div>
      </div>

      <button class="btn btn-primary btn-fash" (click)="follow()" *ngIf="!user.isFollowed">
      Follow
    </button>
      <button class="btn btn-warning btn-fash" (click)="unFollow()" *ngIf="user.isFollowed">
      UnFollow
    </button>

    </div>
  </div>
</div>


<div class="container text-center">

  <div class="col-xs-12">
    <div class="col-xs-4 tab">My Purchases</div>
    <div class="col-xs-4 tab">The Feed</div>
    <div class="col-xs-4 tab">People I Follow</div>
  </div>


</div>
<div class="col-xs-12 text-center">
  <h2>{{user.userDeatiles?.firstName}} Items:</h2>
</div>
<div class="row col-xs-12 text-center">
  <fash-r-user-items [userId]="userId"></fash-r-user-items>
</div>