@import "../../../../style_declaration/colors.scss";


.userDeatils{
    min-height: 200px;
    background-color: $inner-background;
    text-align: center;
    font-size:16px;
    color:#000;

    .txt{
        vertical-align: middle;
        padding-top: 50px;
        .part{
            padding-top: 10px;
        }
        .part.partclick{
            cursor: pointer;
        }
    }

   

    .user-name{
        font-weight: bold;
        padding-left: 10px;
    }
  
    .user-img{
        position: relative;
        img{
            width:200px;
            height: 200px;
        }

        .img-upload{
            opacity: 0.2;

        }

        .upload{
            z-index:2;
            width:100%;
            margin: 0 auto;
            height: 100%;
            position: absolute;
            left: 0;
            top:35%;
            font-size: 12px;

            button{
                margin-bottom: 10px;
            }
        }
          
    }

    ngb-tab li >>>{
        width:33%;
        text-align: center;
    }
}
