<div class=" userDeatils">

  <div class="container">
    <div class="user-img col-md-3">
      <img class="product-img img-circle" [src]="user?.userDeatiles?.imageUrl" [class.img-upload]="mouseOvered" (mouseenter)="checkSelfProfile()">
      <div *ngIf="mouseOvered" class="upload" (click)="profilePictureUpdate()" (mouseleave)="mouseOvered = false">
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-camera"></span> Upload
        </button>
        <BR> Change Your
        <BR> Profile Picture
      </div>
    </div>
    <div class="col-md-9 txt">

      <div class="col-md-3">
        <span class="user-name">
        {{user.userDeatiles?.displayName}} 
      </span>
      </div>

      <div class="col-md-3">

        <div class="part user-followrs partclick" (click)="showFollowers()">

          <span>Followers</span>
          <span class="fashcolors">
                {{user.countFollowers}}
          </span>
        </div>
        <div class="part user-count-items">
          <span>Items</span>
          <span class="fashcolors">
             {{user.countItems || 0}}
         </span>
        </div>

      </div>
      <div class="col-md-3">
        <div class="part user-following partclick" (click)="showFollowing()">
          <span>Following</span>
          <span class="fashcolors">
             {{user.countFollowing}}
         </span>
        </div>
        <div class="part user-items-spent">
          <span>Spent</span>
          <span class="fashcolors">
        {{(+user.moneySpent/100) | currency:'USD':true}}
      </span>
        </div>
      </div>

      <div *ngIf="!self">
        <button class="btn btn-fash" (click)="follow()" *ngIf="!user.isFollowed">
      Follow
    </button>
        <button class="btn btn-fash btn-fash-grey" (click)="unFollow()" *ngIf="user.isFollowed">
      UnFollow
    </button>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12 text-center">
  <h2>{{user.userDeatiles?.firstName}} Items:</h2>
</div>
<div class="row col-xs-12 text-center">
  <fash-r-user-items [userId]="userId"></fash-r-user-items>
</div>