<div class="container">
  <h2 class="text-center">
    Frequently Asked Questions
  </h2>

  <div class="section">
    <h3>
      About
    </h3>
    <div class="qna">
      <app-qna [question]="'What is FASHBASH?'"
       [answer]="'FASHBASH  is social discovery platform. It lets real people share their real purchases in real time -  Check out the About us page for more info.'">
      </app-qna>

      <app-qna [question]="'How does it work?'" 
      [answer]="'We connect to our user’s  email and scan all the shopping emails he/she received. We take that information and publish it on the user’s profile as an item, ready to be purchased. It takes 5 seconds, just sign up with your email and you are good to go.'">
      </app-qna>

      <app-qna [question]="'How can be in touch with the founders?'"
       [answer]="'Just click here! “Say Hello”'">
      </app-qna>
    </div>

  </div>

  <div class="section">
    <h3>
      Content
    </h3>
    <div class="qna">
      <app-qna [question]="'Will everyone be able to see the purchases I made:'"
       [answer]="'All the people on our FASHBASH community will be able to see the things you bought. We do not post anything else, just fashion. Later on we will have different categories.'">
      </app-qna>

      <app-qna [question]="'Can I upload content myself and be in charge of what I upload?'" 
      [answer]="'We want to ensure the people you see are real and prevent fake/paid posts. So FASHBASH is all about being automatic and seamless. All you need to do is to create an account and we do everything for you, it’s easier and safer this way.'">
      </app-qna>

      <app-qna [question]="'Which online stores do you cover?'"
       [answer]="'Our technology as provided by our partners “SLICE” can detect any email from any online store, so pretty much all of it. Of course nothing is perfect and we  may miss here and there, but we are trying hard to improve all the time and hit 100%.'">
      </app-qna>
    </div>

  </div>

  <div class="section">
    <h3>
      Safety & Privacy:
    </h3>
    <div class="qna">
      <app-qna [question]="'Is it safe? Will you use my information for anything? How can I trust FASHBASH?'" 
      [answer]="'We made this platform for you guys to share & most of all to inspire others. We want you to feel %100 safe, we know how sometimes new things can be intimidating . 
We are promising you the following: 
1. We will never share anything on your behalf on any other platform nor use your information / or share it with anyone else. No one will ever have access to your information. 
2. We will NEVER store your passwords or anything else secret. 
3. We use the email you are getting from E-Commerce websites soley, we don’t care about any other email’s, we have no interest in your personal stuff :) 
4. We use the best technologies out there to keep your data encrypted, safe, and secure. 
'">
      </app-qna>

      <app-qna [question]="'Could Hackers bust into your system and get my information?'"
       [answer]="'NO, our API is to connected to Google’s/Yahoo/Any other email provider . If they want to hack us, they need to through Google/Yahoo/Email provider first... Good luck with that :)'">
      </app-qna>

      <app-qna [question]="'How can I invite my friends to FASHBASH?'"
       [answer]="'Just click here and we will do it for you: twitter  - FB - IG - Google'">
      </app-qna>
    </div>

  </div>
</div>