<div class="container">
  <h2 class="text-center">Ops....</h2>
  <div class="row">
    <P>
      Looks like the email you are trying to use is not supported by our parsing bot.
    </P>
    <p>
      To complete your registration we need you to register with one of our partners: 
    </p>
    
  </div>
  <div class="row">
    <img src="./assets/images/partners/mail_logo_rgb_web.png" class="p-logo">
    <img src="./assets/images/partners/icloud.png" class="p-logo">
    <img src="./assets/images/partners/outlook.png" class="p-logo">
    <img src="./assets/images/partners/yahoo-76684_960_720.png" class="p-logo">
    <img src="./assets/images/partners/logo_aol.png" class="p-logo">
    <img src="./assets/images/partners/comcast.v2.png" class="p-logo">
    <img src="./assets/images/partners/cox_logo.png" class="p-logo">
    <img src="./assets/images/partners/verizon-logo-preview.png" class="p-logo">
  </div>
  <div class="row">
    
  </div>
</div>