<div class="container">
    <div class="col-xs-12 col-md-4" *ngFor="let user of users">
        <div class="text-center">
            <div class="user-img">
                <img class="product-img img-circle" [src]="user.userDeatiles.imageUrl">
            </div>
            <div class="user-name">
                <a [routerLink]="['/users/',user.userDeatiles.userName]">
                {{user.userDeatiles.firstName}} {{user.userDeatiles.lastName}}
                </a>
            </div>
            <button class="btn btn-primary" *ngIf="!user.isFollowed">Follow</button>
            <button class="btn btn-warning" *ngIf="user.isFollowed">UnFollow</button>
            <div class="social">
                <div class="row">
                    <div class="col-xs-6">
                        Followers {{user.countFollowers}}
                    </div>
                    <div class="col-xs-6">
                        Following {{user.countFollowing}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        Items {{user.countItems}}
                    </div>
                    <div class="col-xs-6">
                        Spent {{user.moneySpent / 100 | currency:'USD':true}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>