  <div class="owl-item cloned active" style="width: 231px; margin-right: 0px; min-height: 307px;">
    <div class="owl-item">
      <div class="product  owl-item-slide">
        <ul class="product-labels">
          <li>hot</li>
        </ul>
        <div class="product-img-wrap">

          <img class="product-img" [src]="item.imageUrl">
        </div>
        <a class="product-link" href="#"></a>
        <div class="product-caption">
          <ul class="product-caption-rating">
            <li class="rated"><i class="glyphicon glyphicon-star"></i>
            </li>
            <li class="rated"><i class="glyphicon glyphicon-star"></i>
            </li>
            <li class="rated"><i class="glyphicon glyphicon-star"></i>
            </li>
            <li><i class="glyphicon glyphicon-star"></i>
            </li>
            <li><i class="glyphicon glyphicon-star"></i>
            </li>
          </ul>
          <h5 class="product-caption-title">{{item.description}}</h5>
          <div class="product-caption-price"><span class="product-caption-price-new">${{item.price/ 100}}</span>
          </div>
          <ul class="product-caption-feature-list">
            <li>Free Shipping</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
