<div class="container">
  <h2 class="text-center">
    Meet Our Team
  </h2>

  <div class="person row">
    <div class="col-md-7">
      <div class="name fashcolors ">
        Matan Evrany
      </div>
      <div class="txt">
        <p>
          Hi! I’m Matan, founder and CEO of FashBash
        </p>
        <p>
          I wanted to tell you few things about myself:
        </p>
        <p>
          I'm 29 years old, born and raised in Israel and for the past 4 years I have been living in NYC.
        </p>
        <p>
          I worked in fashion for many years and to many I am considered a style guru:) I wanted to share this with everyone so I created
          FashBash.
        </p>
        <p>
          I love the idea I get to connect people and show that 1+1 = > 2.
        </p>
        <p>
          Follow your biggest dreams, they always come true one way or the other.
        </p>
        <p>
          Hit me up, I would love to have coffee with you !!
        </p>
      </div>
      <div class="email ">
        <a class="fashcolors" href="mailto:matan@fashbash.co?Subject=Hello%20Matan!" target="_top">matan@fashbash.co</a>
      </div>
    </div>
    <div class="col-md-5 person-img matan">
      <span class="fashcolors">M</span>
      <a href="#">
        <i class="fa fa-twitter  fa-2x fashcolors"></i>
      </a>
      <a href="#">
        <i class="fa fa-linkedin fa-2x fashcolors"></i>
      </a>

    </div>
  </div>


  <div class="person row">

    <div class="col-md-5 person-img eliran">
      <span class="fashcolors">E</span>
      <a href="#">
        <i class="fa fa-twitter  fa-2x fashcolors"></i>
      </a>
      <a href="#">
        <i class="fa fa-linkedin fa-2x fashcolors"></i>
      </a>

    </div>
    <div class="col-md-7">
      <div class="name fashcolors">
        Eliran Els
      </div>
      <div class="txt">

        <p>
          Hey Everyone! I am Eliran!
        </p>
        <p>
          I make everything happen! I am the co-founder of FashBash, aka the CTO . I try to write the best code so you guys have the
          best experience!
        </p>
        <p>
          Born and raised in Israel I am a computer science major and a guy who loves to code!
        </p>
        <p>
          A good code is like magic! I am also a big fitness addict and have to get my workout everyday!
        </p>
        <p>
          I believe that setting goals and working hard is the best way to make sure you will a happy person!
        </p>
        <p>
          Hit me up , I would love to speak to you!
        </p>

      </div>
      <div class="email ">
        <a class="fashcolors" href="mailto:eliran@fashbash.co?Subject=Hello%20Eliran!" target="_top">eliran@fashbash.co</a>
      </div>
    </div>

  </div>
</div>