.option{
    margin:20px auto;
}

form{
    button{
        margin:15px auto;
    }

    .file-name{
        margin:15px auto;
        font-style: italic;
        font-weight: bold;
    }
}

.demo-img{
    img{
    width:140px;
    height: 140px;
    margin-top: 15px;
    }
}