<div class="col-xs-12">
  <div class="item-title truncate">
    {{item.description}}
  </div>
  <div class="price">
    <span> {{item.price / 100}}</span>
    <div class="star">
      <span class="glyphicon glyphicon-star-empty"></span>
    </div>
  </div>
  <div class="item-box" [style.background-image]="'url(' + item.imageUrl + ')'">
    
  </div>
  
  <div *ngIf="bottom" class="user-image" >
      <img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/10868161_10155037049905161_1481682574078948712_n.jpg?oh=449cec176a5992f424545b2414925982&oe=59C31066">
      
    </div>
  
  <div *ngIf="bottom" class="user-name" >
    {{item.userFullName || "User Name"}} 
  </div>
  
</div>
