@import "../../../style_declaration/colors.scss";

:host{
    width: 100%;
    font-size:12px;
    position: relative;
    
}


.has-url{
    border: 1px solid $fashbash-color !important;
    cursor: pointer;
}

.item-title{
    padding-top:10px;
    font-weight: lighter;
}

.truncate {
  height: 46px;
//   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price{
    color: $fashbash-color;
    font-size:14px;

    .star{
        display: inline-block;
        margin-top: 1px;
    }

    .glyphicon{
        top:2px !important;
    }
}

.item-box{
    border: 1px solid #e7e7e7;
    height: 200px;
    background: no-repeat 50% 50%;
    background-size: 100%;
    transition: all .2s ease-in-out;
}

.item-box:hover{
    transform: scale(1.05);
}

.user-name{
    border:1px solid #e7e7e7;
    border-top:none;
    padding-top:30px;
    padding-bottom: 10px;
    z-index: 2;

    a{
        cursor: pointer;
    }
}
.user-image{
    img{
        position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 244px;
    left: 41%;

    }

}