<div class="contianer">
  <div class="col-xs-12">

    <div class="links col-md-12 col-lg-9">
      <div class="col-xs-12 smile">
        <img src="./assets/images/footer_smile.png">
      </div>
      <div class="col-xs-12">
        <div class="col-xs-3">
          <a [routerLink]="['/static/about']" >About Us</a>
        </div>
        <div class="col-xs-2">
          <a [routerLink]="'/static/contact'">Say Hello</a>
        </div>
        <div class="col-xs-3">
          <a [routerLink]="'/static/meettheteam'">Meet the Team</a>
        </div>
        <div class="col-xs-3">
          <a [routerLink]="'/static/terms'">Terms of use & Privacy</a>
        </div>
        <div class="col-xs-1">
          <a [routerLink]="'/static/faq'">FAQ</a>
        </div>
      </div>

    </div>

    <div class="col-sm-12 col-lg-3 ">
      <div class="social-connect">
        <ul>
          <li>
            <a href="https://twitter.com/bootsnipp"><i class="social twitter"></i></a>
          </li>
          <li><a href="https://www.facebook.com/bootsnipp"><i class="social facebook"></i></a>
          </li>
          <li>
            <a href="https://plus.google.com/+Bootsnipp-page"> <i class="social instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="social snapchat"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="fash-image col-xs-12">
  <div>
    <img src="/assets/images/footer_img.png">
  </div>
  <span>
    Copyright © 2017 Fashbash. All Right Reserved.
  </span>
</div>