.laptopflow{
    margin-top:25px;
    .laptop{
        width:200px;
    }
    .mail,.bag{
        width:50px;
    }

    .dleft{
        padding-left: 10px;
    }
    .dright{
        padding-right: 10px;
    }
}