<div class="container text-center">
  <h3 class="text-center">
    Ops...
  </h3>
  <div class="row text-center">
    
    <p>
        It's seems like we having issues linking your email to your account.<br>
    </p>
    <p>
        <b>Are your sure you approved our permissions on your email provider?</b>
    </p></div>
    <div class="row">
    <h4>
        Let's try again?
    </h4>

    <button class="btn btn-fash" (click)="getLink()" [disabled]="disable">Click here to link your email again</button>
    
  </div>
  <div class="row">
    
    <div class="laptopflow text-center">
      <img  class="mail" src="./assets/images/login/mail.png">
      <img class="dots dleft" src="./assets/images/login/dots.png">
      <img class="laptop" src="./assets/images/login/redlaptop.png">
      <img class="dots dright" src="./assets/images/login/dots.png">
      <img class="bag" src="./assets/images/login/bag.png">
    </div>
  </div>
  <div class="row text-center">
  
  </div>
</div>