
<div class="container">

  <h2>
  All my Items:
</h2>

  <div class="owl-item cloned active" style="width: 231px; margin-right: 0px;">
    <div class="owl-item">
      <div class="product  owl-item-slide">
        <ul class="product-labels">
          <li>hot</li>
        </ul>
        <div class="product-img-wrap">

          <img class="product-img" src="https://slice-productimage.s3.amazonaws.com/59/5b/79/82/94/41/84/90/f65a3cc6ae35fcdb4ac26075968025c6ba0e6551fbb5e21c">
        </div>
        <a class="product-link" href="#"></a>
        <div class="product-caption">
          <ul class="product-caption-rating">
            <li class="rated"><i class="glyphicon glyphicon-star"></i>
            </li>
            <li class="rated"><i class="glyphicon glyphicon-star"></i>
            </li>
            <li class="rated"><i class="glyphicon glyphicon-star"></i>
            </li>
            <li><i class="glyphicon glyphicon-star"></i>
            </li>
            <li><i class="glyphicon glyphicon-star"></i>
            </li>
          </ul>
          <h5 class="product-caption-title">Metal Portable Bar Table w/ Carrying Case - Metal Construction Party</h5>
          <div class="product-caption-price"><span class="product-caption-price-new">$72</span>
          </div>
          <ul class="product-caption-feature-list">
            <li>Free Shipping</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="col-lg-2 item">
    <div class="image">
      <img 
      src="https://slice-productimage.s3.amazonaws.com/59/5b/79/82/94/41/84/90/f65a3cc6ae35fcdb4ac26075968025c6ba0e6551fbb5e21c">
    </div>
    <div class="user-profile">
        <img class="img-circle user-img" 
        src="https://scontent.ftlv1-1.fna.fbcdn.net/v/t1.0-9/10868161_10155037049905161_1481682574078948712_n.jpg?oh=cef2a1cb8e802b5de9e39dbb95009753&oe=58FD4F66" > 
    </div>
  </div>-->
</div>