@import "../../../style_declaration/colors.scss";

.hero{
    min-height: 430px;
    text-align: center;

    position: relative;

    .persons{
        position: absolute;
        top:0;
        left:0;
        width:160px;
    }

    .right{
        right:0;
        left:initial;
    }

    @media (max-width:1200px){
        .person{
            display: none;
        }
    }
    .hero-text{
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        color:#575757;
        text-transform: uppercase;
    }

    .section1{
        margin:20px 0;
    }

    .section3{
        margin:20px 0;
        font-weight: 500;
    }

    .section4{
        font-size:14px;
    }
    button{
        margin-top:20px;
        font-size: 20px;
        padding: 15px 20px;
        font-weight: bold;
    }

    
}

.title,
.nowonfash{
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-size:25px;
    font-weight: bold;
    
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;

    img{
        margin-right:10px;
        margin-bottom: 5px;
    }
}

.item{
    width:100%;
    height: 200px;
    position:relative;

    .user-profile{
        position: absolute;
        .user-img{
            width: 40px;
            height: 40px;
        }
    }


}


.howitworks{
    margin-top:20px;
     text-align: center;
     margin-bottom: 20px;

     .steps{
         background-color: $fashbash-color;
         min-height: 315px;
         color:#fff;
         
         
         .number{
             border:2px solid #5fb6b4;
             border-radius: 50%;
             width:40px;
             height: 40px;
             vertical-align: middle;
             display: inline-block;
             padding-top: 8px;
             margin-top:20px;
         }

         .step{
             margin-top:10px;
             font-size:16px;
         }
     }

     .video{
         padding:0 !important;
     }
}