<div class="container ">
  <div class="about-txt">
    <h2>About Us</h2>
    <p>
      FASHBASH was born in NYC about not too long ago. My best friend and I were going on vacation to the Caribbean and he has
      been looking for a swim shorts for a long time before that but couldn't find it.
    </p>
    <p>
      I buy everything online and randomly I got myself 3 pieces of swim shorts. He happened to be over when I opened the box,
      and right away he fell in love with one of them, and immediately tried to buy it from me.
    </p>
    <p>
      Of course I did not take his money and gave it to him as gift..
    </p>
    <p>
      Long story short, I’ve been working in fashion for many years. A lot of people consider me very very stylish and well dressed
      (you will be the judge of that:) ). I got asked the same question thousands of times, literally..
    </p>

    <p>"Where did you buy your shirt, shoes, jacket etc from?"</p>

  </div>

  <div class="walls">
    <div class="wall fash"></div>
    <div class="wall black"></div>
    <div class="wall fash"></div>
  </div>
</div>

<div class="answer fash">
  <div class="cont">
    <h3>We created FASHBASH to answer that.</h3>
    <p>
      Now everytime I buy something it will pop automatically on FASHBASH and all of you can see it. If you want you can even click
      on it buy it yourself .
    </p>
  </div>
</div>

<div class="mainimg">
  <div class="cont">
    <img src="./assets/images/aboutimg.png">
  </div>
</div>

<div class="continer">
  <div class="bottom-txt">
    <p>
      FASHBASH is a platform that allows real people to share their real purchase. Only people who are members of our community
      will be able to see the purchases others have made and of course, share their own.

    </p>
    <p class="bold">
       We implement the old saying: “I’ll
      show you mine if you show me yours” on purchases.
    </p>

    <p>
      Curious with how FASHBASH works? <a href="#" class="fashcolors">Click here.</a>
    </p>
  </div>
</div>

<div class="btmimg">
  <img src="./assets/images/aboutbtm.png">
</div>