/* You can add global styles to this file, and also import other style files */

@import "src/style_declaration/colors.scss";
.btn-fash{
    background-color:$fashbash-color;
    color:#fff;
    text-transform: uppercase;
    border: 0px;
    padding:15px;
}


.btn-fash:hover{
    background-color: $fashbash-color;
    color:#fff !important;
}

.btn-fash:disabled{
    opacity: 0.35;
}

.btn-fash-grey,
.btn-fash-grey:hover{
    background-color: #d9d9d9;
    border:0;
}



.fashcolors{
    color:$fashbash-color;
}

.innter-background{
    background-color: $inner-background;
}

.error-msg{
    color:red;
}


    input.ng-invalid.ng-touched,
    textarea.ng-invalid.ng-touched{
        border:1px solid red;
    }

    input.ng-valid.ng-touched,
    textarea.ng-valid.ng-touched{
        border:1px solid $fashbash-color;
    }

    .input-group{
	margin-bottom: 15px;
}

html,body{
    font-family: 'Montserrat', sans-serif;
}
